@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s1sd1u');
  src:  url('fonts/icomoon.eot?s1sd1u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s1sd1u') format('truetype'),
    url('fonts/icomoon.woff?s1sd1u') format('woff'),
    url('fonts/icomoon.svg?s1sd1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-252:before {
  content: "\e90c";
}
.icon-Vector-5 .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-Vector-5 .path2:before {
  content: "\e905";
  margin-left: -0.900390625em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-Vector-4 .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.icon-Vector-4 .path2:before {
  content: "\e907";
  margin-left: -0.9775390625em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-Vector-3 .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-Vector-3 .path2:before {
  content: "\e909";
  margin-left: -0.9345703125em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-Vector-2 .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-Vector-2 .path2:before {
  content: "\e90b";
  margin-left: -0.9833984375em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-Vector-1:before {
  content: "\e901";
}
.icon-Vector:before {
  content: "\e902";
}
.icon-3:before {
  content: "\e903";
}
.icon-uniE904:before {
  content: "\e904";
}
