header{
    height: 804px;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.gradient{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
    linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%);
    opacity: 0.22;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.block-info{
    position: relative;
    z-index: 3;
    max-width: 420px;
    top: 124px;
    left: 262px;
    float: left;
}

.block-info h1{
    margin-top: 55px;
    margin-bottom: 30px;
}

.block-info p{
    letter-spacing: 0.06px;
}

.block-info__button{
    margin-top: 37px;
}

.block-img{
    position: relative;
    float: right;
    right: 74px;
    top: 44px;
}

.block-img svg{
    width: 175px;
    position: absolute;
    bottom: 167px;
    left: 254px;
    transform: rotate(21deg);
    letter-spacing: -1.3px;
    z-index: 3;
}

.picture-header{
    position: relative;
    z-index: 2;
}

.picture-shadow{
    position: absolute;
    z-index: 2;
    left: -120px;
    top: -45px;
}

.content{
    padding: 0 262px;
}

.advantage-image, .advantage-image > span, .advantage-image > img{
    position: relative;
}

.advantages h2{
    max-width: 820px;
    margin-top: -3px;
    margin-bottom: 48px;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
}

.advantages .advantage:nth-child(even){
    width: 362px;
    margin-right: 112px;
}

.advantages .advantage:nth-child(odd){
    width: 400px;
}

.advantages .advantage{
    height: 215px;
    margin-bottom: 61px;
}

.advantage p{
    margin-top: 27px;
    line-height: 29px;
}

.icon-Vector-2{
    top: 3px;
    left: 3px;
    font-size: 58px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(47.75deg, #FF5C4D 9.81%, #EB469F 26.65%, #8341EF 58.3%, #3F68F9 77.16%);
}

.icon-uniE904{
    font-size: 40px;
    left: -43px;
    top: -4px;
}

.icon-3{
    left: 20px;
    top: -33px;
    font-size: 20px;
}

.icon-Vector-3{
    font-size: 45px;
    left: 24px;
    top: 1px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%);
}

span.icon-Vector{
    position: absolute;
    left: 11px;
    top: 5px;
    font-size: 52px;
}

.icon-Vector-4{
    font-size: 44px;
    left: 11px;
    top: 2px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(238.93deg, #FF5C4D 10.57%, #EB469F 29.68%, #8341EF 65.59%, #3F68F9 86.99%);
}

.icon-Vector-1{
    font-size: 53px;
    left: -26px;
    top: 4px;
}

.icon-Vector-5{
    font-size: 60px;
    left: 1px;
    top: 4px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(238.93deg, #FF5C4D 10.57%, #EB469F 29.68%, #8341EF 65.59%, #3F68F9 86.99%);

}

.icon-Vector-2, .icon-Vector-3, .icon-Vector-4, .icon-Vector-5{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.battery{
    left: -37px;
    top: -6px;
}

.advantage .advantage-margin{
    margin-top: 40px;
}

.exclusive-offer h3{
    margin-top: 51px;
    max-width: 820px;
    margin-bottom: 34px;
}

.exclusive-offer-description{
    max-width: 440px;
    margin-top: 10px;
    line-height: 29px;
}

.offer-slider-mobile{
    position: relative;
}

.slider-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.slider-wrapper__items{
    width: 455px;
    line-height: 0;
    border-radius: 64px;
    overflow: hidden;
    margin-bottom: 8px;
    transform: rotate(2deg);
    position: relative;
}

.offer-slider-mobile{
    margin-top: 71px;
}

.slider-wrapper > .slider-wrapper__items:nth-child(1){
    left: -7px;
}

.slider-wrapper > .slider-wrapper__items:nth-child(2){
    left: 25px;
    bottom: 210px;
}

.slider-wrapper > .slider-wrapper__items:nth-child(3){
    left: -22px;
    top: 14px;
}

.slider-wrapper > .slider-wrapper__items:nth-child(4){
    top: -196px;
    left: 8px;
}

.offer-slider-mobile img[class*="decoration"]{
    position: absolute;
}

.offer-slider-mobile .decoration-1{
    top: -365px;
    right: -181px;
}

.offer-slider-mobile .decoration-2{
    top: -139px;
    left: -263px;
}

.offer-slider-mobile .decoration-3{
    bottom: -169px;
    right: -257px;
}

.subscription{
    margin-top: 112px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
}

.subscription h3{
    max-width: 400px;
    margin-bottom: 35px;
    margin-top: 0;
}

.subscription p{
    line-height: 29px;
}

.subscription-item{
    width: 420px;
}

.subscription > .subscription-item:nth-child(odd){
    margin-bottom: 115px;
    margin-right: 56px;
}

.subscription-item-img{
    position: relative;
}

.subscription-item-img img{
    position: absolute;
}

.subscription-item__button{
    margin-top: 41px;
}

.subscription-item .scooter-positioning > img:nth-child(1){
    left: -40px;
    top: -236px;
}

.subscription-item .scooter-positioning > img:nth-child(2){
    left: -168px;
    top: -235px;
}

.subscription-item .scooter-positioning > img:last-child{
    top: 54px;
    left: -3px;
}

.subscription-item .community-positioning > img:nth-child(1){
    left: -220px;
    top: -146px;
}

.subscription-item .community-positioning > img:nth-child(2){
    left: 6px;
    top: 6px;
}

.community-positioning{
    position: relative;
}

.subscription-item .community-positioning .circle{
    width: 383px;
    position: absolute;
    top: 50px;
    left: -17px;
    transform: rotate(8deg);
    letter-spacing: -1.27px;
    font-size: 20px;
}

footer{
    margin-top: 111px;
    margin-left: -2px;
}

footer p{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03px;
    text-align: left;
    color: var(--additional-color-grey);
}